<div id="eventContainer1">
    <div class="day" id="day-20240202">
        <div class="date-label">Friday, 2 February</div>
        <div class="event first-event">
            <div class="event-summary" id="123-20240202" toggle-details=""><span class="event-time"
                    alt="Fri, 2 February, 14:00 – 14:30" title="Fri, 2 February, 14:00 – 14:30">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Haas VF-24 launch</span></div>
            </div>
            <div class="event-details" id="details-123-20240202"></div>
        </div>
    </div>
    <div class="day" id="day-20240205">
        <div class="date-label">Monday, 5 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="124-20240205" toggle-details=""><span class="event-time"
                    alt="Monday, 5 Feb 2024" title="Monday, 5 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Sauber C44 car launch</span></div>
            </div>
            <div class="event-details" id="details-124-20240205"></div>
        </div>
        <div class="event last-event">
            <div class="all-day event-summary" id="125-20240205" toggle-details=""><span class="event-time"
                    alt="Monday, 5 Feb 2024" title="Monday, 5 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Williams 'season launch'</span></div>
            </div>
            <div class="event-details" id="details-125-20240205"></div>
        </div>
    </div>
    <div class="day" id="day-20240207">
        <div class="date-label">Wednesday, 7 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="126-20240207" toggle-details=""><span class="event-time"
                    alt="Wednesday, 7 Feb 2024" title="Wednesday, 7 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Alpine 'season launch'</span></div>
            </div>
            <div class="event-details" id="details-126-20240207"></div>
        </div>
    </div>
    <div class="day" id="day-20240208">
        <div class="date-label">Thursday, 8 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="127-20240208" toggle-details=""><span class="event-time"
                    alt="Thursday, 8 Feb 2024" title="Thursday, 8 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">RB livery launch</span></div>
            </div>
            <div class="event-details" id="details-127-20240208"></div>
        </div>
    </div>
    <div class="day" id="day-20240212">
        <div class="date-label">Monday, 12 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="128-20240212" toggle-details=""><span class="event-time"
                    alt="Monday, 12 Feb 2024" title="Monday, 12 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Aston Martin AMR24 car launch</span></div>
            </div>
            <div class="event-details" id="details-128-20240212"></div>
        </div>
    </div>
    <div class="day" id="day-20240213">
        <div class="date-label">Tuesday, 13 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="129-20240213" toggle-details=""><span class="event-time"
                    alt="Tuesday, 13 Feb 2024" title="Tuesday, 13 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Ferrari 2024 F1 car launch</span></div>
            </div>
            <div class="event-details" id="details-129-20240213"></div>
        </div>
    </div>
    <div class="day" id="day-20240214">
        <div class="date-label">Wednesday, 14 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="130-20240214" toggle-details=""><span class="event-time"
                    alt="Wednesday, 14 Feb 2024" title="Wednesday, 14 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">McLaren MCL38 launch</span></div>
            </div>
            <div class="event-details" id="details-130-20240214"></div>
        </div>
        <div class="event last-event">
            <div class="all-day event-summary" id="131-20240214" toggle-details=""><span class="event-time"
                    alt="Wednesday, 14 Feb 2024" title="Wednesday, 14 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Mercedes W15 launch</span></div>
            </div>
            <div class="event-details" id="details-131-20240214"></div>
        </div>
    </div>
    <div class="day" id="day-20240215">
        <div class="date-label">Thursday, 15 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="45-20240215" toggle-details=""><span class="event-time"
                    alt="Thursday, 15 Feb 2024" title="Thursday, 15 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Red Bull launch event</span></div>
            </div>
            <div class="event-details" id="details-45-20240215"></div>
        </div>
    </div>
    <div class="day" id="day-20240221">
        <div class="date-label">Wednesday, 21 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="46-20240221" toggle-details=""><span class="event-time"
                    alt="21 – 23 Feb 2024" title="21 – 23 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Pre-season test</span></div>
            </div>
            <div class="event-details" id="details-46-20240221"></div>
        </div>
    </div>
    <div class="day" id="day-20240222">
        <div class="date-label">Thursday, 22 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="46-20240222" toggle-details=""><span class="event-time"
                    alt="21 – 23 Feb 2024" title="21 – 23 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Pre-season test</span></div>
            </div>
            <div class="event-details" id="details-46-20240222"></div>
        </div>
    </div>
    <div class="day" id="day-20240223">
        <div class="date-label">Friday, 23 February</div>
        <div class="event first-event">
            <div class="all-day event-summary" id="46-20240223" toggle-details=""><span class="event-time"
                    alt="21 – 23 Feb 2024" title="21 – 23 Feb 2024">All day</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Pre-season test</span></div>
            </div>
            <div class="event-details" id="details-46-20240223"></div>
        </div>
    </div>
    <div class="day" id="day-20240229">
        <div class="date-label">Thursday, 29 February</div>
        <div class="event first-event">
            <div class="event-summary" id="47-20240229" toggle-details=""><span class="event-time"
                    alt="Thu, 29 February, 11:30 – 12:30" title="Thu, 29 February, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Bahrain Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-47-20240229"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="48-20240229" toggle-details=""><span class="event-time"
                    alt="Thu, 29 February, 15:00 – 16:00" title="Thu, 29 February, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Bahrain Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-48-20240229"></div>
        </div>
    </div>
    <div class="day" id="day-20240301">
        <div class="date-label">Friday, 1 March</div>
        <div class="event first-event">
            <div class="event-summary" id="49-20240301" toggle-details=""><span class="event-time"
                    alt="Fri, 1 March, 12:30 – 13:30" title="Fri, 1 March, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Bahrain Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-49-20240301"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="50-20240301" toggle-details=""><span class="event-time"
                    alt="Fri, 1 March, 16:00 – 17:00" title="Fri, 1 March, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Bahrain Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-50-20240301"></div>
        </div>
    </div>
    <div class="day" id="day-20240302">
        <div class="date-label">Saturday, 2 March</div>
        <div class="event first-event">
            <div class="event-summary" id="51-20240302" toggle-details=""><span class="event-time"
                    alt="Sat, 2 March, 15:00 – 17:00" title="Sat, 2 March, 15:00 – 17:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Bahrain Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-51-20240302"></div>
        </div>
    </div>
    <div class="day" id="day-20240307">
        <div class="date-label">Thursday, 7 March</div>
        <div class="event first-event">
            <div class="event-summary" id="52-20240307" toggle-details=""><span class="event-time"
                    alt="Thu, 7 March, 13:30 – 14:30" title="Thu, 7 March, 13:30 – 14:30">13:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Saudi Arabian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-52-20240307"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="53-20240307" toggle-details=""><span class="event-time"
                    alt="Thu, 7 March, 17:00 – 18:00" title="Thu, 7 March, 17:00 – 18:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Saudi Arabian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-53-20240307"></div>
        </div>
    </div>
    <div class="day" id="day-20240308">
        <div class="date-label">Friday, 8 March</div>
        <div class="event first-event">
            <div class="event-summary" id="54-20240308" toggle-details=""><span class="event-time"
                    alt="Fri, 8 March, 13:30 – 14:30" title="Fri, 8 March, 13:30 – 14:30">13:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Saudi Arabian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-54-20240308"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="55-20240308" toggle-details=""><span class="event-time"
                    alt="Fri, 8 March, 17:00 – 18:00" title="Fri, 8 March, 17:00 – 18:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Saudi Arabian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-55-20240308"></div>
        </div>
    </div>
    <div class="day" id="day-20240309">
        <div class="date-label">Saturday, 9 March</div>
        <div class="event first-event">
            <div class="event-summary" id="56-20240309" toggle-details=""><span class="event-time"
                    alt="Sat, 9 March, 17:00 – 19:00" title="Sat, 9 March, 17:00 – 19:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Saudi Arabian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-56-20240309"></div>
        </div>
    </div>
    <div class="day" id="day-20240322">
        <div class="date-label">Friday, 22 March</div>
        <div class="event first-event">
            <div class="event-summary" id="35-20240322" toggle-details=""><span class="event-time"
                    alt="Fri, 22 March, 01:30 – 02:30" title="Fri, 22 March, 01:30 – 02:30">01:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Australian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-35-20240322"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="36-20240322" toggle-details=""><span class="event-time"
                    alt="Fri, 22 March, 05:00 – 06:00" title="Fri, 22 March, 05:00 – 06:00">05:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Australian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-36-20240322"></div>
        </div>
    </div>
    <div class="day" id="day-20240323">
        <div class="date-label">Saturday, 23 March</div>
        <div class="event first-event">
            <div class="event-summary" id="37-20240323" toggle-details=""><span class="event-time"
                    alt="Sat, 23 March, 01:30 – 02:30" title="Sat, 23 March, 01:30 – 02:30">01:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Australian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-37-20240323"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="38-20240323" toggle-details=""><span class="event-time"
                    alt="Sat, 23 March, 05:00 – 06:00" title="Sat, 23 March, 05:00 – 06:00">05:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Australian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-38-20240323"></div>
        </div>
    </div>
    <div class="day" id="day-20240324">
        <div class="date-label">Sunday, 24 March</div>
        <div class="event first-event">
            <div class="event-summary" id="39-20240324" toggle-details=""><span class="event-time"
                    alt="Sun, 24 March, 04:00 – 06:00" title="Sun, 24 March, 04:00 – 06:00">04:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Australian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-39-20240324"></div>
        </div>
    </div>
    <div class="day" id="day-20240405">
        <div class="date-label">Friday, 5 April</div>
        <div class="event first-event">
            <div class="event-summary" id="40-20240405" toggle-details=""><span class="event-time"
                    alt="Fri, 5 April, 03:30 – 04:30" title="Fri, 5 April, 03:30 – 04:30">03:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Japanese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-40-20240405"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="41-20240405" toggle-details=""><span class="event-time"
                    alt="Fri, 5 April, 07:00 – 08:00" title="Fri, 5 April, 07:00 – 08:00">07:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Japanese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-41-20240405"></div>
        </div>
    </div>
    <div class="day" id="day-20240406">
        <div class="date-label">Saturday, 6 April</div>
        <div class="event first-event">
            <div class="event-summary" id="42-20240406" toggle-details=""><span class="event-time"
                    alt="Sat, 6 April, 03:30 – 04:30" title="Sat, 6 April, 03:30 – 04:30">03:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Japanese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-42-20240406"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="43-20240406" toggle-details=""><span class="event-time"
                    alt="Sat, 6 April, 07:00 – 08:00" title="Sat, 6 April, 07:00 – 08:00">07:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Japanese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-43-20240406"></div>
        </div>
    </div>
    <div class="day" id="day-20240407">
        <div class="date-label">Sunday, 7 April</div>
        <div class="event first-event">
            <div class="event-summary" id="44-20240407" toggle-details=""><span class="event-time"
                    alt="Sun, 7 April, 06:00 – 08:00" title="Sun, 7 April, 06:00 – 08:00">06:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Japanese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-44-20240407"></div>
        </div>
    </div>
    <div class="day" id="day-20240419">
        <div class="date-label">Friday, 19 April</div>
        <div class="event first-event">
            <div class="event-summary" id="20-20240419" toggle-details=""><span class="event-time"
                    alt="Fri, 19 April, 04:30 – 05:30" title="Fri, 19 April, 04:30 – 05:30">04:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Chinese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-20-20240419"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="21-20240419" toggle-details=""><span class="event-time"
                    alt="Fri, 19 April, 08:30 – 09:30" title="Fri, 19 April, 08:30 – 09:30">08:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 Chinese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-21-20240419"></div>
        </div>
    </div>
    <div class="day" id="day-20240420">
        <div class="date-label">Saturday, 20 April</div>
        <div class="event first-event">
            <div class="event-summary" id="22-20240420" toggle-details=""><span class="event-time"
                    alt="Sat, 20 April, 04:00 – 05:00" title="Sat, 20 April, 04:00 – 05:00">04:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 Chinese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-22-20240420"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="23-20240420" toggle-details=""><span class="event-time"
                    alt="Sat, 20 April, 08:00 – 09:00" title="Sat, 20 April, 08:00 – 09:00">08:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Chinese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-23-20240420"></div>
        </div>
    </div>
    <div class="day" id="day-20240421">
        <div class="date-label">Sunday, 21 April</div>
        <div class="event first-event">
            <div class="event-summary" id="24-20240421" toggle-details=""><span class="event-time"
                    alt="Sun, 21 April, 08:00 – 10:00" title="Sun, 21 April, 08:00 – 10:00">08:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Chinese Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-24-20240421"></div>
        </div>
    </div>
    <div class="day" id="day-20240503">
        <div class="date-label">Friday, 3 May</div>
        <div class="event first-event">
            <div class="event-summary" id="25-20240503" toggle-details=""><span class="event-time"
                    alt="Fri, 3 May, 17:30 – 18:30" title="Fri, 3 May, 17:30 – 18:30">17:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Miami Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-25-20240503"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="26-20240503" toggle-details=""><span class="event-time"
                    alt="Fri, 3 May, 21:30 – 22:30" title="Fri, 3 May, 21:30 – 22:30">21:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 Miami Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-26-20240503"></div>
        </div>
    </div>
    <div class="day" id="day-20240504">
        <div class="date-label">Saturday, 4 May</div>
        <div class="event first-event">
            <div class="event-summary" id="27-20240504" toggle-details=""><span class="event-time"
                    alt="Sat, 4 May, 17:00 – 18:00" title="Sat, 4 May, 17:00 – 18:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 Miami Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-27-20240504"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="28-20240504" toggle-details=""><span class="event-time"
                    alt="Sat, 4 May, 21:00 – 22:00" title="Sat, 4 May, 21:00 – 22:00">21:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Miami Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-28-20240504"></div>
        </div>
    </div>
    <div class="day" id="day-20240505">
        <div class="date-label">Sunday, 5 May</div>
        <div class="event first-event">
            <div class="event-summary" id="29-20240505" toggle-details=""><span class="event-time"
                    alt="Sun, 5 May, 21:00 – 23:00" title="Sun, 5 May, 21:00 – 23:00">21:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Miami Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-29-20240505"></div>
        </div>
    </div>
    <div class="day" id="day-20240517">
        <div class="date-label">Friday, 17 May</div>
        <div class="event first-event">
            <div class="event-summary" id="30-20240517" toggle-details=""><span class="event-time"
                    alt="Fri, 17 May, 12:30 – 13:30" title="Fri, 17 May, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Emilia-Romagna Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-30-20240517"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="31-20240517" toggle-details=""><span class="event-time"
                    alt="Fri, 17 May, 16:00 – 17:00" title="Fri, 17 May, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Emilia-Romagna Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-31-20240517"></div>
        </div>
    </div>
    <div class="day" id="day-20240518">
        <div class="date-label">Saturday, 18 May</div>
        <div class="event first-event">
            <div class="event-summary" id="32-20240518" toggle-details=""><span class="event-time"
                    alt="Sat, 18 May, 11:30 – 12:30" title="Sat, 18 May, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Emilia-Romagna Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-32-20240518"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="33-20240518" toggle-details=""><span class="event-time"
                    alt="Sat, 18 May, 15:00 – 16:00" title="Sat, 18 May, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Emilia-Romagna Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-33-20240518"></div>
        </div>
    </div>
    <div class="day" id="day-20240519">
        <div class="date-label">Sunday, 19 May</div>
        <div class="event first-event">
            <div class="event-summary" id="34-20240519" toggle-details=""><span class="event-time"
                    alt="Sun, 19 May, 14:00 – 16:00" title="Sun, 19 May, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Emilia-Romagna Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-34-20240519"></div>
        </div>
    </div>
    <div class="day" id="day-20240524">
        <div class="date-label">Friday, 24 May</div>
        <div class="event first-event">
            <div class="event-summary" id="1-20240524" toggle-details=""><span class="event-time"
                    alt="Fri, 24 May, 12:30 – 13:30" title="Fri, 24 May, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Monaco Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-1-20240524"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="2-20240524" toggle-details=""><span class="event-time"
                    alt="Fri, 24 May, 16:00 – 17:00" title="Fri, 24 May, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Monaco Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-2-20240524"></div>
        </div>
    </div>
    <div class="day" id="day-20240525">
        <div class="date-label">Saturday, 25 May</div>
        <div class="event first-event">
            <div class="event-summary" id="3-20240525" toggle-details=""><span class="event-time"
                    alt="Sat, 25 May, 11:30 – 12:30" title="Sat, 25 May, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Monaco Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-3-20240525"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="4-20240525" toggle-details=""><span class="event-time"
                    alt="Sat, 25 May, 15:00 – 16:00" title="Sat, 25 May, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Monaco Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-4-20240525"></div>
        </div>
    </div>
    <div class="day" id="day-20240526">
        <div class="date-label">Sunday, 26 May</div>
        <div class="event first-event">
            <div class="event-summary" id="5-20240526" toggle-details=""><span class="event-time"
                    alt="Sun, 26 May, 14:00 – 16:00" title="Sun, 26 May, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Monaco Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-5-20240526"></div>
        </div>
    </div>
    <div class="day" id="day-20240607">
        <div class="date-label">Friday, 7 June</div>
        <div class="event first-event">
            <div class="event-summary" id="6-20240607" toggle-details=""><span class="event-time"
                    alt="Fri, 7 June, 18:30 – 19:30" title="Fri, 7 June, 18:30 – 19:30">18:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Canadian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-6-20240607"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="7-20240607" toggle-details=""><span class="event-time"
                    alt="Fri, 7 June, 22:00 – 23:00" title="Fri, 7 June, 22:00 – 23:00">22:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Canadian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-7-20240607"></div>
        </div>
    </div>
    <div class="day" id="day-20240608">
        <div class="date-label">Saturday, 8 June</div>
        <div class="event first-event">
            <div class="event-summary" id="8-20240608" toggle-details=""><span class="event-time"
                    alt="Sat, 8 June, 17:30 – 18:30" title="Sat, 8 June, 17:30 – 18:30">17:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Canadian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-8-20240608"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="9-20240608" toggle-details=""><span class="event-time"
                    alt="Sat, 8 June, 21:00 – 22:00" title="Sat, 8 June, 21:00 – 22:00">21:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Canadian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-9-20240608"></div>
        </div>
    </div>
    <div class="day" id="day-20240609">
        <div class="date-label">Sunday, 9 June</div>
        <div class="event first-event">
            <div class="event-summary" id="10-20240609" toggle-details=""><span class="event-time"
                    alt="Sun, 9 June, 19:00 – 21:00" title="Sun, 9 June, 19:00 – 21:00">19:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Canadian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-10-20240609"></div>
        </div>
    </div>
    <div class="day" id="day-20240621">
        <div class="date-label">Friday, 21 June</div>
        <div class="event first-event">
            <div class="event-summary" id="11-20240621" toggle-details=""><span class="event-time"
                    alt="Fri, 21 June, 12:30 – 13:30" title="Fri, 21 June, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Spanish Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-11-20240621"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="12-20240621" toggle-details=""><span class="event-time"
                    alt="Fri, 21 June, 16:00 – 17:00" title="Fri, 21 June, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Spanish Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-12-20240621"></div>
        </div>
    </div>
    <div class="day" id="day-20240622">
        <div class="date-label">Saturday, 22 June</div>
        <div class="event first-event">
            <div class="event-summary" id="13-20240622" toggle-details=""><span class="event-time"
                    alt="Sat, 22 June, 11:30 – 12:30" title="Sat, 22 June, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Spanish Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-13-20240622"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="14-20240622" toggle-details=""><span class="event-time"
                    alt="Sat, 22 June, 15:00 – 16:00" title="Sat, 22 June, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Spanish Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-14-20240622"></div>
        </div>
    </div>
    <div class="day" id="day-20240623">
        <div class="date-label">Sunday, 23 June</div>
        <div class="event first-event">
            <div class="event-summary" id="15-20240623" toggle-details=""><span class="event-time"
                    alt="Sun, 23 June, 14:00 – 16:00" title="Sun, 23 June, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Spanish Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-15-20240623"></div>
        </div>
    </div>
    <div class="day" id="day-20240628">
        <div class="date-label">Friday, 28 June</div>
        <div class="event first-event">
            <div class="event-summary" id="16-20240628" toggle-details=""><span class="event-time"
                    alt="Fri, 28 June, 11:30 – 12:30" title="Fri, 28 June, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Austrian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-16-20240628"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="17-20240628" toggle-details=""><span class="event-time"
                    alt="Fri, 28 June, 15:30 – 16:30" title="Fri, 28 June, 15:30 – 16:30">15:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 Austrian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-17-20240628"></div>
        </div>
    </div>
    <div class="day" id="day-20240629">
        <div class="date-label">Saturday, 29 June</div>
        <div class="event first-event">
            <div class="event-summary" id="18-20240629" toggle-details=""><span class="event-time"
                    alt="Sat, 29 June, 11:00 – 12:00" title="Sat, 29 June, 11:00 – 12:00">11:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 Austrian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-18-20240629"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="19-20240629" toggle-details=""><span class="event-time"
                    alt="Sat, 29 June, 15:00 – 16:00" title="Sat, 29 June, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Austrian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-19-20240629"></div>
        </div>
    </div>
    <div class="day" id="day-20240630">
        <div class="date-label">Sunday, 30 June</div>
        <div class="event first-event">
            <div class="event-summary" id="57-20240630" toggle-details=""><span class="event-time"
                    alt="Sun, 30 June, 14:00 – 16:00" title="Sun, 30 June, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Austrian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-57-20240630"></div>
        </div>
    </div>
    <div class="day" id="day-20240705">
        <div class="date-label">Friday, 5 July</div>
        <div class="event first-event">
            <div class="event-summary" id="58-20240705" toggle-details=""><span class="event-time"
                    alt="Fri, 5 July, 12:30 – 13:30" title="Fri, 5 July, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 British Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-58-20240705"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="59-20240705" toggle-details=""><span class="event-time"
                    alt="Fri, 5 July, 16:00 – 17:00" title="Fri, 5 July, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 British Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-59-20240705"></div>
        </div>
    </div>
    <div class="day" id="day-20240706">
        <div class="date-label">Saturday, 6 July</div>
        <div class="event first-event">
            <div class="event-summary" id="60-20240706" toggle-details=""><span class="event-time"
                    alt="Sat, 6 July, 11:30 – 12:30" title="Sat, 6 July, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 British Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-60-20240706"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="61-20240706" toggle-details=""><span class="event-time"
                    alt="Sat, 6 July, 15:00 – 16:00" title="Sat, 6 July, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 British Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-61-20240706"></div>
        </div>
    </div>
    <div class="day" id="day-20240707">
        <div class="date-label">Sunday, 7 July</div>
        <div class="event first-event">
            <div class="event-summary" id="62-20240707" toggle-details=""><span class="event-time"
                    alt="Sun, 7 July, 15:00 – 17:00" title="Sun, 7 July, 15:00 – 17:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 British Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-62-20240707"></div>
        </div>
    </div>
    <div class="day" id="day-20240719">
        <div class="date-label">Friday, 19 July</div>
        <div class="event first-event">
            <div class="event-summary" id="63-20240719" toggle-details=""><span class="event-time"
                    alt="Fri, 19 July, 12:30 – 13:30" title="Fri, 19 July, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Hungarian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-63-20240719"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="64-20240719" toggle-details=""><span class="event-time"
                    alt="Fri, 19 July, 16:00 – 17:00" title="Fri, 19 July, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Hungarian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-64-20240719"></div>
        </div>
    </div>
    <div class="day" id="day-20240720">
        <div class="date-label">Saturday, 20 July</div>
        <div class="event first-event">
            <div class="event-summary" id="65-20240720" toggle-details=""><span class="event-time"
                    alt="Sat, 20 July, 11:30 – 12:30" title="Sat, 20 July, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Hungarian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-65-20240720"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="66-20240720" toggle-details=""><span class="event-time"
                    alt="Sat, 20 July, 15:00 – 16:00" title="Sat, 20 July, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Hungarian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-66-20240720"></div>
        </div>
    </div>
    <div class="day" id="day-20240721">
        <div class="date-label">Sunday, 21 July</div>
        <div class="event first-event">
            <div class="event-summary" id="67-20240721" toggle-details=""><span class="event-time"
                    alt="Sun, 21 July, 14:00 – 16:00" title="Sun, 21 July, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Hungarian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-67-20240721"></div>
        </div>
    </div>
    <div class="day" id="day-20240726">
        <div class="date-label">Friday, 26 July</div>
        <div class="event first-event">
            <div class="event-summary" id="68-20240726" toggle-details=""><span class="event-time"
                    alt="Fri, 26 July, 12:30 – 13:30" title="Fri, 26 July, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Belgian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-68-20240726"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="69-20240726" toggle-details=""><span class="event-time"
                    alt="Fri, 26 July, 16:00 – 17:00" title="Fri, 26 July, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Belgian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-69-20240726"></div>
        </div>
    </div>
    <div class="day" id="day-20240727">
        <div class="date-label">Saturday, 27 July</div>
        <div class="event first-event">
            <div class="event-summary" id="70-20240727" toggle-details=""><span class="event-time"
                    alt="Sat, 27 July, 11:30 – 12:30" title="Sat, 27 July, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Belgian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-70-20240727"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="71-20240727" toggle-details=""><span class="event-time"
                    alt="Sat, 27 July, 15:00 – 16:00" title="Sat, 27 July, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Belgian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-71-20240727"></div>
        </div>
    </div>
    <div class="day" id="day-20240728">
        <div class="date-label">Sunday, 28 July</div>
        <div class="event first-event">
            <div class="event-summary" id="72-20240728" toggle-details=""><span class="event-time"
                    alt="Sun, 28 July, 14:00 – 16:00" title="Sun, 28 July, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Belgian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-72-20240728"></div>
        </div>
    </div>
    <div class="day" id="day-20240823">
        <div class="date-label">Friday, 23 August</div>
        <div class="event first-event">
            <div class="event-summary" id="73-20240823" toggle-details=""><span class="event-time"
                    alt="Fri, 23 August, 11:30 – 12:30" title="Fri, 23 August, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Dutch Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-73-20240823"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="74-20240823" toggle-details=""><span class="event-time"
                    alt="Fri, 23 August, 15:00 – 16:00" title="Fri, 23 August, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Dutch Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-74-20240823"></div>
        </div>
    </div>
    <div class="day" id="day-20240824">
        <div class="date-label">Saturday, 24 August</div>
        <div class="event first-event">
            <div class="event-summary" id="75-20240824" toggle-details=""><span class="event-time"
                    alt="Sat, 24 August, 10:30 – 11:30" title="Sat, 24 August, 10:30 – 11:30">10:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Dutch Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-75-20240824"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="76-20240824" toggle-details=""><span class="event-time"
                    alt="Sat, 24 August, 14:00 – 15:00" title="Sat, 24 August, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Dutch Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-76-20240824"></div>
        </div>
    </div>
    <div class="day" id="day-20240825">
        <div class="date-label">Sunday, 25 August</div>
        <div class="event first-event">
            <div class="event-summary" id="77-20240825" toggle-details=""><span class="event-time"
                    alt="Sun, 25 August, 14:00 – 16:00" title="Sun, 25 August, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Dutch Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-77-20240825"></div>
        </div>
    </div>
    <div class="day" id="day-20240830">
        <div class="date-label">Friday, 30 August</div>
        <div class="event first-event">
            <div class="event-summary" id="78-20240830" toggle-details=""><span class="event-time"
                    alt="Fri, 30 August, 12:30 – 13:30" title="Fri, 30 August, 12:30 – 13:30">12:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Italian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-78-20240830"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="79-20240830" toggle-details=""><span class="event-time"
                    alt="Fri, 30 August, 16:00 – 17:00" title="Fri, 30 August, 16:00 – 17:00">16:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Italian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-79-20240830"></div>
        </div>
    </div>
    <div class="day" id="day-20240831">
        <div class="date-label">Saturday, 31 August</div>
        <div class="event first-event">
            <div class="event-summary" id="80-20240831" toggle-details=""><span class="event-time"
                    alt="Sat, 31 August, 11:30 – 12:30" title="Sat, 31 August, 11:30 – 12:30">11:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Italian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-80-20240831"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="81-20240831" toggle-details=""><span class="event-time"
                    alt="Sat, 31 August, 15:00 – 16:00" title="Sat, 31 August, 15:00 – 16:00">15:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Italian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-81-20240831"></div>
        </div>
    </div>
    <div class="day" id="day-20240901">
        <div class="date-label">Sunday, 1 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="82-20240901" toggle-details=""><span class="event-time"
                    alt="Sun, 1 September 2024, 14:00 – 16:00" title="Sun, 1 September 2024, 14:00 – 16:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Italian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-82-20240901"></div>
        </div>
    </div>
    <div class="day" id="day-20240913">
        <div class="date-label">Friday, 13 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="83-20240913" toggle-details=""><span class="event-time"
                    alt="Fri, 13 September 2024, 10:30 – 11:30"
                    title="Fri, 13 September 2024, 10:30 – 11:30">10:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Azerbaijan Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-83-20240913"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="84-20240913" toggle-details=""><span class="event-time"
                    alt="Fri, 13 September 2024, 14:00 – 15:00"
                    title="Fri, 13 September 2024, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Azerbaijan Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-84-20240913"></div>
        </div>
    </div>
    <div class="day" id="day-20240914">
        <div class="date-label">Saturday, 14 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="85-20240914" toggle-details=""><span class="event-time"
                    alt="Sat, 14 September 2024, 09:30 – 10:30"
                    title="Sat, 14 September 2024, 09:30 – 10:30">09:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Azerbaijan Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-85-20240914"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="86-20240914" toggle-details=""><span class="event-time"
                    alt="Sat, 14 September 2024, 13:00 – 14:00"
                    title="Sat, 14 September 2024, 13:00 – 14:00">13:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Azerbaijan Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-86-20240914"></div>
        </div>
    </div>
    <div class="day" id="day-20240915">
        <div class="date-label">Sunday, 15 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="87-20240915" toggle-details=""><span class="event-time"
                    alt="Sun, 15 September 2024, 12:00 – 14:00"
                    title="Sun, 15 September 2024, 12:00 – 14:00">12:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Azerbaijan Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-87-20240915"></div>
        </div>
    </div>
    <div class="day" id="day-20240920">
        <div class="date-label">Friday, 20 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="88-20240920" toggle-details=""><span class="event-time"
                    alt="Fri, 20 September 2024, 10:30 – 11:30"
                    title="Fri, 20 September 2024, 10:30 – 11:30">10:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Singapore Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-88-20240920"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="89-20240920" toggle-details=""><span class="event-time"
                    alt="Fri, 20 September 2024, 14:00 – 15:00"
                    title="Fri, 20 September 2024, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Singapore Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-89-20240920"></div>
        </div>
    </div>
    <div class="day" id="day-20240921">
        <div class="date-label">Saturday, 21 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="90-20240921" toggle-details=""><span class="event-time"
                    alt="Sat, 21 September 2024, 10:30 – 11:30"
                    title="Sat, 21 September 2024, 10:30 – 11:30">10:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Singapore Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-90-20240921"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="91-20240921" toggle-details=""><span class="event-time"
                    alt="Sat, 21 September 2024, 14:00 – 15:00"
                    title="Sat, 21 September 2024, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Singapore Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-91-20240921"></div>
        </div>
    </div>
    <div class="day" id="day-20240922">
        <div class="date-label">Sunday, 22 September 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="92-20240922" toggle-details=""><span class="event-time"
                    alt="Sun, 22 September 2024, 13:00 – 15:00"
                    title="Sun, 22 September 2024, 13:00 – 15:00">13:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Singapore Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-92-20240922"></div>
        </div>
    </div>
    <div class="day" id="day-20241018">
        <div class="date-label">Friday, 18 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="93-20241018" toggle-details=""><span class="event-time"
                    alt="Fri, 18 October 2024, 18:30 – 19:30" title="Fri, 18 October 2024, 18:30 – 19:30">18:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 United States Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-93-20241018"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="94-20241018" toggle-details=""><span class="event-time"
                    alt="Fri, 18 October 2024, 22:30 – 23:30" title="Fri, 18 October 2024, 22:30 – 23:30">22:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 United States Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-94-20241018"></div>
        </div>
    </div>
    <div class="day" id="day-20241019">
        <div class="date-label">Saturday, 19 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="95-20241019" toggle-details=""><span class="event-time"
                    alt="Sat, 19 October 2024, 19:00 – 20:00" title="Sat, 19 October 2024, 19:00 – 20:00">19:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 United States Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-95-20241019"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="96-20241019" toggle-details=""><span class="event-time"
                    alt="Sat, 19 October 2024, 23:00 – Sun, 20 October 2024, 00:00"
                    title="Sat, 19 October 2024, 23:00 – Sun, 20 October 2024, 00:00">23:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 United States Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-96-20241019"></div>
        </div>
    </div>
    <div class="day" id="day-20241020">
        <div class="date-label">Sunday, 20 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="97-20241020" toggle-details=""><span class="event-time"
                    alt="Sun, 20 October 2024, 20:00 – 22:00" title="Sun, 20 October 2024, 20:00 – 22:00">20:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 United States Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-97-20241020"></div>
        </div>
    </div>
    <div class="day" id="day-20241025">
        <div class="date-label">Friday, 25 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="98-20241025" toggle-details=""><span class="event-time"
                    alt="Fri, 25 October 2024, 19:30 – 20:30" title="Fri, 25 October 2024, 19:30 – 20:30">19:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Mexican Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-98-20241025"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="99-20241025" toggle-details=""><span class="event-time"
                    alt="Fri, 25 October 2024, 23:00 – Sat, 26 October 2024, 00:00"
                    title="Fri, 25 October 2024, 23:00 – Sat, 26 October 2024, 00:00">23:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Mexican Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-99-20241025"></div>
        </div>
    </div>
    <div class="day" id="day-20241026">
        <div class="date-label">Saturday, 26 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="100-20241026" toggle-details=""><span class="event-time"
                    alt="Sat, 26 October 2024, 18:30 – 19:30" title="Sat, 26 October 2024, 18:30 – 19:30">18:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Mexican Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-100-20241026"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="101-20241026" toggle-details=""><span class="event-time"
                    alt="Sat, 26 October 2024, 22:00 – 23:00" title="Sat, 26 October 2024, 22:00 – 23:00">22:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Mexican Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-101-20241026"></div>
        </div>
    </div>
    <div class="day" id="day-20241027">
        <div class="date-label">Sunday, 27 October 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="102-20241027" toggle-details=""><span class="event-time"
                    alt="Sun, 27 October 2024, 20:00 – 22:00" title="Sun, 27 October 2024, 20:00 – 22:00">20:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Mexican Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-102-20241027"></div>
        </div>
    </div>
    <div class="day" id="day-20241101">
        <div class="date-label">Friday, 1 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="103-20241101" toggle-details=""><span class="event-time"
                    alt="Fri, 1 November 2024, 14:30 – 15:30" title="Fri, 1 November 2024, 14:30 – 15:30">14:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Brazilian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-103-20241101"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="104-20241101" toggle-details=""><span class="event-time"
                    alt="Fri, 1 November 2024, 18:30 – 19:30" title="Fri, 1 November 2024, 18:30 – 19:30">18:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 Brazilian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-104-20241101"></div>
        </div>
    </div>
    <div class="day" id="day-20241102">
        <div class="date-label">Saturday, 2 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="105-20241102" toggle-details=""><span class="event-time"
                    alt="Sat, 2 November 2024, 14:00 – 15:00" title="Sat, 2 November 2024, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 Brazilian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-105-20241102"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="106-20241102" toggle-details=""><span class="event-time"
                    alt="Sat, 2 November 2024, 18:00 – 19:00" title="Sat, 2 November 2024, 18:00 – 19:00">18:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Brazilian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-106-20241102"></div>
        </div>
    </div>
    <div class="day" id="day-20241103">
        <div class="date-label">Sunday, 3 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="107-20241103" toggle-details=""><span class="event-time"
                    alt="Sun, 3 November 2024, 17:00 – 19:00" title="Sun, 3 November 2024, 17:00 – 19:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Brazilian Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-107-20241103"></div>
        </div>
    </div>
    <div class="day" id="day-20241121">
        <div class="date-label">Thursday, 21 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="108-20241121" toggle-details=""><span class="event-time"
                    alt="Thu, 21 November 2024, 02:30 – 03:30" title="Thu, 21 November 2024, 02:30 – 03:30">02:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Las Vegas Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-108-20241121"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="109-20241121" toggle-details=""><span class="event-time"
                    alt="Thu, 21 November 2024, 06:00 – 07:00" title="Thu, 21 November 2024, 06:00 – 07:00">06:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Las Vegas Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-109-20241121"></div>
        </div>
    </div>
    <div class="day" id="day-20241122">
        <div class="date-label">Friday, 22 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="110-20241122" toggle-details=""><span class="event-time"
                    alt="Fri, 22 November 2024, 02:30 – 03:30" title="Fri, 22 November 2024, 02:30 – 03:30">02:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Las Vegas Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-110-20241122"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="111-20241122" toggle-details=""><span class="event-time"
                    alt="Fri, 22 November 2024, 06:00 – 07:00" title="Fri, 22 November 2024, 06:00 – 07:00">06:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Las Vegas Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-111-20241122"></div>
        </div>
    </div>
    <div class="day" id="day-20241124">
        <div class="date-label">Sunday, 24 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="112-20241124" toggle-details=""><span class="event-time"
                    alt="Sun, 24 November 2024, 06:00 – 08:00" title="Sun, 24 November 2024, 06:00 – 08:00">06:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Las Vegas Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-112-20241124"></div>
        </div>
    </div>
    <div class="day" id="day-20241129">
        <div class="date-label">Friday, 29 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="113-20241129" toggle-details=""><span class="event-time"
                    alt="Fri, 29 November 2024, 13:30 – 14:30" title="Fri, 29 November 2024, 13:30 – 14:30">13:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Qatar Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-113-20241129"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="114-20241129" toggle-details=""><span class="event-time"
                    alt="Fri, 29 November 2024, 17:30 – 18:30" title="Fri, 29 November 2024, 17:30 – 18:30">17:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SRQ: 2024 Qatar Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-114-20241129"></div>
        </div>
    </div>
    <div class="day" id="day-20241130">
        <div class="date-label">Saturday, 30 November 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="115-20241130" toggle-details=""><span class="event-time"
                    alt="Sat, 30 November 2024, 13:00 – 14:00" title="Sat, 30 November 2024, 13:00 – 14:00">13:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">SR: 2024 Qatar Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-115-20241130"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="116-20241130" toggle-details=""><span class="event-time"
                    alt="Sat, 30 November 2024, 17:00 – 18:00" title="Sat, 30 November 2024, 17:00 – 18:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Qatar Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-116-20241130"></div>
        </div>
    </div>
    <div class="day" id="day-20241201">
        <div class="date-label">Sunday, 1 December 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="117-20241201" toggle-details=""><span class="event-time"
                    alt="Sun, 1 December 2024, 17:00 – 19:00" title="Sun, 1 December 2024, 17:00 – 19:00">17:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Qatar Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-117-20241201"></div>
        </div>
    </div>
    <div class="day" id="day-20241206">
        <div class="date-label">Friday, 6 December 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="118-20241206" toggle-details=""><span class="event-time"
                    alt="Fri, 6 December 2024, 09:30 – 10:30" title="Fri, 6 December 2024, 09:30 – 10:30">09:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP1: 2024 Abu Dhabi Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-118-20241206"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="119-20241206" toggle-details=""><span class="event-time"
                    alt="Fri, 6 December 2024, 13:00 – 14:00" title="Fri, 6 December 2024, 13:00 – 14:00">13:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP2: 2024 Abu Dhabi Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-119-20241206"></div>
        </div>
    </div>
    <div class="day" id="day-20241207">
        <div class="date-label">Saturday, 7 December 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="120-20241207" toggle-details=""><span class="event-time"
                    alt="Sat, 7 December 2024, 10:30 – 11:30" title="Sat, 7 December 2024, 10:30 – 11:30">10:30</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">FP3: 2024 Abu Dhabi Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-120-20241207"></div>
        </div>
        <div class="event last-event">
            <div class="event-summary" id="121-20241207" toggle-details=""><span class="event-time"
                    alt="Sat, 7 December 2024, 14:00 – 15:00" title="Sat, 7 December 2024, 14:00 – 15:00">14:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">Q: 2024 Abu Dhabi Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-121-20241207"></div>
        </div>
    </div>
    <div class="day" id="day-20241208">
        <div class="date-label">Sunday, 8 December 2024</div>
        <div class="event first-event">
            <div class="event-summary" id="122-20241208" toggle-details=""><span class="event-time"
                    alt="Sun, 8 December 2024, 13:00 – 15:00" title="Sun, 8 December 2024, 13:00 – 15:00">13:00</span>
                <div class="title-wrapper"><span class="event-reply-status">&nbsp;</span><span class="event-title"
                        style="color: #125A12;">GP: 2024 Abu Dhabi Grand Prix</span></div>
            </div>
            <div class="event-details" id="details-122-20241208"></div>
        </div>
    </div>
</div>